# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.DS_Store
frontend/src/vite-env.d.ts
node_modules/react/README.md
node_modules/react/react.react-server.js
node_modules/react/package.json
node_modules/react/LICENSE
node_modules/react/jsx-runtime.react-server.js
node_modules/react/jsx-runtime.js
node_modules/react/jsx-dev-runtime.react-server.js
node_modules/react/jsx-dev-runtime.js
node_modules/react/index.js
node_modules/react/compiler-runtime.js
node_modules/react/cjs/react.react-server.production.js
node_modules/react/cjs/react.react-server.development.js
node_modules/react/cjs/react.production.js
node_modules/react/cjs/react.development.js
node_modules/react/cjs/react-jsx-runtime.react-server.production.js
node_modules/react/cjs/react-jsx-runtime.react-server.development.js
node_modules/react/cjs/react-jsx-runtime.profiling.js
node_modules/react/cjs/react-jsx-runtime.production.js
node_modules/react/cjs/react-jsx-runtime.development.js
node_modules/react/cjs/react-jsx-dev-runtime.react-server.production.js
node_modules/react/cjs/react-jsx-dev-runtime.react-server.development.js
node_modules/react/cjs/react-jsx-dev-runtime.profiling.js
node_modules/react/cjs/react-jsx-dev-runtime.production.js
node_modules/react/cjs/react-jsx-dev-runtime.development.js
node_modules/react/cjs/react-compiler-runtime.profiling.js
node_modules/react/cjs/react-compiler-runtime.production.js
node_modules/react/cjs/react-compiler-runtime.development.js
node_modules/react-chartjs-2/README.md
node_modules/react-chartjs-2/package.json
node_modules/react-chartjs-2/LICENSE.md
node_modules/react-chartjs-2/LICENSE
node_modules/react-chartjs-2/dist/utils.d.ts.map
node_modules/react-chartjs-2/dist/utils.d.ts
node_modules/react-chartjs-2/dist/types.d.ts.map
node_modules/react-chartjs-2/dist/types.d.ts
node_modules/react-chartjs-2/dist/typedCharts.d.ts.map
node_modules/react-chartjs-2/dist/typedCharts.d.ts
node_modules/react-chartjs-2/dist/index.js.map
node_modules/react-chartjs-2/dist/index.js
node_modules/react-chartjs-2/dist/index.d.ts.map
node_modules/react-chartjs-2/dist/index.d.ts
node_modules/react-chartjs-2/dist/index.cjs.map
node_modules/react-chartjs-2/dist/index.cjs
node_modules/react-chartjs-2/dist/chart.d.ts.map
node_modules/react-chartjs-2/dist/chart.d.ts
node_modules/chart.js/README.md
node_modules/chart.js/package.json
node_modules/chart.js/LICENSE.md
node_modules/chart.js/helpers/package.json
node_modules/chart.js/helpers/helpers.js
node_modules/chart.js/helpers/helpers.d.ts
node_modules/chart.js/helpers/helpers.cjs
node_modules/chart.js/dist/types/utils.d.ts
node_modules/chart.js/dist/types/layout.d.ts
node_modules/chart.js/dist/types/index.d.ts
node_modules/chart.js/dist/types/geometric.d.ts
node_modules/chart.js/dist/types/color.d.ts
node_modules/chart.js/dist/types/basic.d.ts
node_modules/chart.js/dist/types/animation.d.ts
node_modules/chart.js/dist/types.d.ts
node_modules/chart.js/dist/scales/scale.timeseries.d.ts
node_modules/chart.js/dist/scales/scale.time.d.ts
node_modules/chart.js/dist/scales/scale.radialLinear.d.ts
node_modules/chart.js/dist/scales/scale.logarithmic.d.ts
node_modules/chart.js/dist/scales/scale.linearbase.d.ts
node_modules/chart.js/dist/scales/scale.linear.d.ts
node_modules/chart.js/dist/scales/scale.category.d.ts
node_modules/chart.js/dist/scales/index.d.ts
node_modules/chart.js/dist/plugins/plugin.tooltip.d.ts
node_modules/chart.js/dist/plugins/plugin.title.d.ts
node_modules/chart.js/dist/plugins/plugin.subtitle.d.ts
node_modules/chart.js/dist/plugins/plugin.legend.d.ts
node_modules/chart.js/dist/plugins/plugin.filler/simpleArc.d.ts
node_modules/chart.js/dist/plugins/plugin.filler/index.d.ts
node_modules/chart.js/dist/plugins/plugin.filler/filler.target.stack.d.ts
node_modules/chart.js/dist/plugins/plugin.filler/filler.target.d.ts
node_modules/chart.js/dist/plugins/plugin.filler/filler.segment.d.ts
node_modules/chart.js/dist/plugins/plugin.filler/filler.options.d.ts
node_modules/chart.js/dist/plugins/plugin.filler/filler.helper.d.ts
node_modules/chart.js/dist/plugins/plugin.filler/filler.drawing.d.ts
node_modules/chart.js/dist/plugins/plugin.decimation.d.ts
node_modules/chart.js/dist/plugins/plugin.colors.d.ts
node_modules/chart.js/dist/plugins/index.d.ts
node_modules/chart.js/dist/platform/platform.dom.d.ts
node_modules/chart.js/dist/platform/platform.basic.d.ts
node_modules/chart.js/dist/platform/platform.base.d.ts
node_modules/chart.js/dist/platform/index.d.ts
node_modules/chart.js/dist/index.umd.d.ts
node_modules/chart.js/dist/index.d.ts
node_modules/chart.js/dist/helpers/index.d.ts
node_modules/chart.js/dist/helpers/helpers.segment.d.ts
node_modules/chart.js/dist/helpers/helpers.rtl.d.ts
node_modules/chart.js/dist/helpers/helpers.options.d.ts
node_modules/chart.js/dist/helpers/helpers.math.d.ts
node_modules/chart.js/dist/helpers/helpers.intl.d.ts
node_modules/chart.js/dist/helpers/helpers.interpolation.d.ts
node_modules/chart.js/dist/helpers/helpers.extras.d.ts
node_modules/chart.js/dist/helpers/helpers.easing.d.ts
node_modules/chart.js/dist/helpers/helpers.dom.d.ts
node_modules/chart.js/dist/helpers/helpers.curve.d.ts
node_modules/chart.js/dist/helpers/helpers.core.d.ts
node_modules/chart.js/dist/helpers/helpers.config.types.d.ts
node_modules/chart.js/dist/helpers/helpers.config.d.ts
node_modules/chart.js/dist/helpers/helpers.color.d.ts
node_modules/chart.js/dist/helpers/helpers.collection.d.ts
node_modules/chart.js/dist/helpers/helpers.canvas.d.ts
node_modules/chart.js/dist/helpers.js.map
node_modules/chart.js/dist/helpers.js
node_modules/chart.js/dist/helpers.cjs.map
node_modules/chart.js/dist/helpers.cjs
node_modules/chart.js/dist/elements/index.d.ts
node_modules/chart.js/dist/elements/element.point.d.ts
node_modules/chart.js/dist/elements/element.line.d.ts
node_modules/chart.js/dist/elements/element.bar.d.ts
node_modules/chart.js/dist/elements/element.arc.d.ts
node_modules/chart.js/dist/core/index.d.ts
node_modules/chart.js/dist/core/core.typedRegistry.d.ts
node_modules/chart.js/dist/core/core.ticks.d.ts
node_modules/chart.js/dist/core/core.scale.defaults.d.ts
node_modules/chart.js/dist/core/core.scale.d.ts
node_modules/chart.js/dist/core/core.scale.autoskip.d.ts
node_modules/chart.js/dist/core/core.registry.d.ts
node_modules/chart.js/dist/core/core.plugins.d.ts
node_modules/chart.js/dist/core/core.layouts.defaults.d.ts
node_modules/chart.js/dist/core/core.layouts.d.ts
node_modules/chart.js/dist/core/core.interaction.d.ts
node_modules/chart.js/dist/core/core.element.d.ts
node_modules/chart.js/dist/core/core.defaults.d.ts
node_modules/chart.js/dist/core/core.datasetController.d.ts
node_modules/chart.js/dist/core/core.controller.d.ts
node_modules/chart.js/dist/core/core.config.d.ts
node_modules/chart.js/dist/core/core.animator.d.ts
node_modules/chart.js/dist/core/core.animations.defaults.d.ts
node_modules/chart.js/dist/core/core.animations.d.ts
node_modules/chart.js/dist/core/core.animation.d.ts
node_modules/chart.js/dist/core/core.adapters.d.ts
node_modules/chart.js/dist/controllers/index.d.ts
node_modules/chart.js/dist/controllers/controller.scatter.d.ts
node_modules/chart.js/dist/controllers/controller.radar.d.ts
node_modules/chart.js/dist/controllers/controller.polarArea.d.ts
node_modules/chart.js/dist/controllers/controller.pie.d.ts
node_modules/chart.js/dist/controllers/controller.line.d.ts
node_modules/chart.js/dist/controllers/controller.doughnut.d.ts
node_modules/chart.js/dist/controllers/controller.bubble.d.ts
node_modules/chart.js/dist/controllers/controller.bar.d.ts
node_modules/chart.js/dist/chunks/helpers.segment.js.map
node_modules/chart.js/dist/chunks/helpers.segment.js
node_modules/chart.js/dist/chunks/helpers.segment.cjs.map
node_modules/chart.js/dist/chunks/helpers.segment.cjs
node_modules/chart.js/dist/chart.umd.js.map
node_modules/chart.js/dist/chart.umd.js
node_modules/chart.js/dist/chart.js.map
node_modules/chart.js/dist/chart.js
node_modules/chart.js/dist/chart.cjs.map
node_modules/chart.js/dist/chart.cjs
node_modules/chart.js/auto/package.json
node_modules/chart.js/auto/auto.js
node_modules/chart.js/auto/auto.d.ts
node_modules/chart.js/auto/auto.cjs
node_modules/@kurkle/color/README.md
node_modules/@kurkle/color/package.json
node_modules/@kurkle/color/LICENSE.md
node_modules/@kurkle/color/dist/color.min.js.map
node_modules/@kurkle/color/dist/color.min.js
node_modules/@kurkle/color/dist/color.esm.js
node_modules/@kurkle/color/dist/color.d.ts
node_modules/@kurkle/color/dist/color.cjs
node_modules/.package-lock.json
.vscode/settings.json
