.Items-background {
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.Items-Title-Section h2{
  padding: 30px 0;
}
.ProductManagemnetTitle{
  margin-top: 26px;
  color: #ffffff;
}

.NewProductTypeButton{
  background-color: #4C0082;
}
.NewProductTypeButton:hover{
  background-color: #6A0CAD;
}
