.ManageOrdersPage{
    margin-top: 46px;
    color: rgba(255, 255, 255, 0);
}
.scrollable-products {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
  }
  
  .scrollable-products h6 {
    margin-top: 0;
    font-weight: bold;
  }