.landing-page {
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    /*ensures full viewport length/width*/
    min-height: 100vh;
    width: 100vw;
    background-color: #000000;
    margin-top: -100px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /*background: linear-gradient(to bottom, #ff7e5f, #281549);*/
    background: linear-gradient(to bottom, #281549, rgba(255, 126, 95, 0));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    /*keeps the logo on left, buttons on right*/
    align-items: center;
    padding: 0px 20px;
    transition: 1s
}

.top-right-options {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px 15px;
}

/*logo image*/

.header-image img {
    width: 4vw;
    height: 3.5vw;
    max-width: 100%;
    display: block;
}

.header-image img:hover {
    transform: scale(1.1);
    /*slight zoom on hover */
    transition: transform 0.5s;
}

/*logo image*/


/*header buttons*/
.header-buttons {
    gap: 5.5px;
}

.header-buttons button {
    background-color: transparent;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/*header buttons*/

/*header*/



/* Main section (SIMple) */

.main-section {
    margin-top: 0%;
    width: 100%;
    min-height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}

.Splice_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;

}

.Splice_1 canvas {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    pointer-events: none;
    transform: scale(1.2);
    /* Increase value for more zoom */

}


/* Main title (SIMple) */

.main-title {
    text-align: left;
    font-size: 10rem;
    font-weight: bold;
    color: #f8f9fa;
    /* moves title closer to the top */
    margin-top: -400px;
    animation: fadeInUp 1.5s ease-in-out;
}

.main-subtitle {
    text-align: left;
    color: #939393;
    font-size: 1.1rem;
    max-width: 6000px;
    margin: 10px auto;
    margin-left: 1.6%;
}

.main-buttons button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #000000;
    background-color: #f8f9fa;
    box-shadow: 5px 7px 20px rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    margin-bottom: -100px;
}

/*iphone example image*/

.main-image {
    text-align: center;
}

.main-image img {
    width: 1100px;
    height: auto;
    margin-top: -260px;
    margin-bottom: 90px;
}

/*warehouse image*/


/* Features Section */
.features-section {
    width: 100%;
    overflow: hidden;
    background-color: #000000;
    margin-top: 10%;
}

.scroll-container {
    display: flex;
    animation: scroll-left 15s linear infinite;
}

/* stops when mouse is over it*/

.scroll-container:hover {
    animation-play-state: paused;
}


.scroll-images {
    display: flex;
    gap: 7%;
}

.image-wrapper {
    flex: 0 0 auto;
    width: 400px;
    /*adjust based on desired image size yall*/
    margin-right: 20px;
    text-align: center;
    position: relative;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}


.features-title {
    font-size: 3rem;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: bold;
    color: #f8f9fa;
}

/*the text*/
.feature-card {
    size: auto;
    padding: 20px;
    padding: 10px;
    flex: 1;
    margin: 0;
    font-size: 1.2rem;
    color: #a7a7a7;

}

.feature-card img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    /* Adjust spacing between images */
    height: 200px;

}

.image-wrapper h3 {
    margin-top: 15px;
    font-size: 2.9rem;
    font-weight: bold;
    color: #f8f9fa;
}

/* Features Section */



/*  Example images section*/
.Example-Images-Section {
    background-color: #000000;
    color: #f8f9fa;
}

.Example-Images {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 0%;
    text-align: right;
    color: #f8f9fa;
}

.Example-Images h1 {
    color: #f8f9fa;
}

.Example-Images img {
    margin-top: 20%;
    width: 70%;
    max-width: 3000px;
    height: auto;
    border-radius: 10px;
}

/*  Example images section*/


.cta-section {
    background: linear-gradient(to top, #281549, rgba(255, 126, 95, 0));
    color: white;
    min-height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 200px;
    font-weight: bold;
    margin-top: 30%;
}

.cta-text-center {
    font-size: 2.5rem;
}

/* Features Section */

.footer {
    background: #2e2e2e;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
}




@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-element {
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}